<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./team_shot.css" />
    <link rel="stylesheet" href="./stationsquare.css" />
  </head>
  <body class="team_shot stationsquare r3d">
    <div class="stage"></div>

    <div class="info info_top container">
      <div class="tournament"></div>
    </div>

    <div class="info info_bottom container">
      <div class="phase"></div>
      <div class="match"></div>
    </div>

    <div class="info info_game container">
      <div class="game_number"></div>
    </div>

    <div class="vs">VS</div>

    <div class="info info_best_of container">
      <div class="best_of"></div>
    </div>

    <div class="plane left_plane">
      <div>
        <div class="p1 player container">
          <div class="sponsor_logo"></div>
          <!-- <div class="character_name"></div> -->

          <div class="player_col">
            <div class="name_row">
              <div class="name"></div>
            </div>
            <div class="real_name"></div>
            <div class="controller"></div>
            <div class="info_grid"></div>
          </div>

          <div class="score_col">
            <div class="score"></div>
            <div class="losers_badge">LOSERS</div>
          </div>
        </div>
        <div class="p1 character"></div>
      </div>
    </div>

    <div class="plane right_plane">
      <div>
        <div class="p2 player container">
          <div class="sponsor_logo"></div>
          <!-- <div class="character_name"></div> -->

          <div class="player_col">
            <div class="name_row">
              <div class="name"></div>
            </div>
            <div class="real_name"></div>
            <div class="controller"></div>
            <div class="info_grid"></div>
          </div>

          <div class="score_col">
            <div class="score"></div>
            <div class="losers_badge">LOSERS</div>
          </div>
        </div>

        <div class="p2 character"></div>
      </div>
    </div>

    <script>
      window.ONLINE_AVATAR = true;
    </script>
    <script src="index.js"></script>
  </body>
</html>
