<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./full.css" />
    <link rel="stylesheet" href="./mtf.css" />
  </head>
  <body class="mtf bar show-available pick-center">
    <div class="ssd_panel">
      <div class="backdrop"></div>
      <div class="panel_header">
        <div class="header_title">Stage Select</div>
        <div class="header_game"></div>
        <div class="header_status"><div class="text"></div></div>
      </div>
      <div class="cards">
        <div class="bans"></div>
        <div class="pick"></div>
      </div>
    </div>

    <script src="common.js"></script>
    <script src="full.js"></script>
  </body>
</html>
