<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./column.css" />
  </head>
  <body>
    <div class="ssd_column">
      <div class="column_game"></div>
      <div class="column_section bans_section">
        <div class="section_label">Banned</div>
        <div class="bans"></div>
      </div>
      <div class="column_section pick_section">
        <div class="section_label pick_label"></div>
        <div class="pick"></div>
      </div>
    </div>

    <script src="common.js"></script>
    <script src="column.js"></script>
  </body>
</html>
