<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./minimal.css" />
  </head>
  <body class="minimal">
    <div class="ssd_bar">
      <div class="bar_label">
        <div class="label_title">Stages</div>
        <div class="label_game"></div>
      </div>
      <div class="bans"></div>
      <div class="bar_divider"></div>
      <div class="pick"></div>
    </div>

    <script src="common.js"></script>
    <script src="minimal.js"></script>
  </body>
</html>
